html,
body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background: #e8e9ef url(../img/n.jpg);
  background-position: bottom;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-blend-mode: difference;
  color:#fff;
  position: relative;
}

.header-display{
display: flex;
justify-content: space-around;
align-content: center;
flex-wrap: wrap;
padding-top:1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
 padding-top:0.55rem;
 flex-wrap: wrap;
  
}

.navbar  li {
  margin: 0 1rem;
}

.navbar  a {
  text-decoration: none;
  color: dodgerblue;
 
}

.navbar a:hover {
  color: #fff;
}


.intro {
text-align: center;
padding-top:7rem;
}
.intro-header > h2 {
  font-size: 2rem;
}
.intro-header > p {
  font-size: 15px;
  color: whitesmoke;
  margin-top: 10px;
}
.btn {
  background: dodgerblue;
  color: #fff;
  border-radius: 30px;
  padding: 15px 15px;
  text-align: center;
  text-transform: capitalize;
  border:2px solid dodgerblue;
}

.btn:hover{
  background:transparent;
  border:2px solid dodgerblue;
}
#button {
  margin-top: 20px;
}

.boxes-section{
  position:absolute;
  bottom:0;
  left:300px !important;
}
.boxes{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;

}
 .boxes > *+*{
  margin-left:1rem;
} 


.boxes .box{
  background:#000;
}
.box-icon {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: green;
  margin: 1px auto;
  padding-left: 20px;
  padding-bottom: 10px;
}
.icon-para {
  font-size: 10px;
  padding-top: 10px;
}
